// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

// our colors:
$dark-gray: #242424;
$container-beige: #f0eae1;
$bg-white: #f6f5f0;
$light-blue: #bfd8e5;
$light-purple: #cbc6d6;
$light-red: #dea6a6;
$light-pink: #e1bddb;
$light-yellow: #e7ebbc;
$light-green: #b5dad1;
$logo-green: #3a996b;
$logo-yellow: #f7eecb;

// mood colors:
$happy: $light-blue;
$sad: $light-purple;
$angry: $light-red;
$scared: $light-yellow;
$love: $light-pink;
$confused: $light-green;
