// Specific CSS for your home-page
h1 {
  font-size: 24px;
  padding-top: 10px;
}

body {
  padding-bottom: 70px;
  background-color: #f6f5f0;
}

.log-mood {
  background-color: #f0eae1;
}

.mood-title {
  position: absolute;
  padding-top: 105px;
  text-decoration: none;
  color: $dark-gray;
  font-family: "Quicksand";
  font-size: 14px;
}

.landing-page {
  background-color: #f6f5f0;
}

.graph {
  padding-bottom: 50px;
  padding-top: 5px;
  max-width: 100%;
  display: block;
}

.mood-tracker {
  text-align: left;
  color: $dark-gray;
}

.mood-selector {
  border-radius: 10px;
}

.card-mood {
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.forum-name {
  color: white;
  font-size: 15px;
  letter-spacing: 0.5rem;
}

.forum-name:hover {
  text-decoration: none;
  color: white;
}

.forum-context {
  font-size: 9px;
  text-align: center;
}

.forum-posts {
  // background-color: $;
  border-radius: 10px;
  width: 95%;
}

.post {
  // background-color: #bfd8e5;
  border-radius: 10px;
  width: 95%;
}

.post-title {
  text-align: center;
}

.new-post {
  text-align: center;
}

.post-form {
  background-color: #bfd8e5;
  border-radius: 10px;
  width: 95%;
}
