// Specific CSS for your home-page
.log-mood {
  background-color: #f0eae1;

}

.mood-title {
  position: absolute;
  padding-top: 110px;
  text-decoration: none;
  color: black;
  font-family: "Quicksand";
  font-size: 16px;
}

.landing-page {
  background-color: #f6f5f0;
}

.graph {
  padding-bottom: 50px;
  padding-top: 5px;
  max-width: 100%;
  display: block;

}

.mood-tracker {
  text-align: left;
  color: black;
}

.mood-today {
  padding-top: 10px;
  font-family: "Roboto";
  font-size: 30px;
}

.feeling-today {
  font-family: "Roboto";
  padding-top: 10px;
  font-size: 30px;
}



.card-mood {
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
}
