<div class="navbar navbar-expand-sm navbar-light navbar-bottom">
  <%= link_to icon("fas", "home"), root_path, class: "navbar-brand" %>
  <%= link_to icon("fas", "heart"), root_path, class: "navbar-brand" %>
  <%= link_to icon("fas", "comments"), forums_path, class: "navbar-brand" %>
  <%= link_to icon("fas", "bell"), root_path, class: "navbar-brand" %>


</div>
