<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-center">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "hru-logo2.png" %>
  <% end %>


</div>
