<div class="container">
  <div class="mood-tracker">
  <h3>Your moods this week:</h3>
  </div>
  <div class="log-mood">
  <h3>How are you feeling today, <%= "#{current_user.username}" %> ?</h3>
    <div class="cards">
      <% @moods.each do |mood| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1499796683658-b659bc751db1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80)">
        <%= link_to mood.name, "/affirmationmessages/#{mood.name}" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
