 <div class="container">
  <div class="mood-tracker">
  <h3>Your moods this week:</h3>
  </div>





  <div class="log-mood">
  <h3>How are you feeling today, <%= "#{current_user.email}" %></h3>
  <% @moods.each do |mood| %>
  <%#= link_to mood.name,  affirmationmessages_path(mood_id: mood) %>
  <%= link_to mood.name, "/affirmationmessages/#{mood.name}" %>
  <% end %>
  </div>
</div>
