<div class="container mt-1">
  <h1>Updates</h1>
    <p>
      <% @comments.each do |comment| %>
        <div class="card notification mt-1 p-1">
          Posted By: <%= comment.user.username %>
          <br>
          <%= comment.content %>
          <br>
          <%= time_ago_in_words(comment.created_at) %>
      </div>
      <% end %>
    </p>
</div>
