.navbar-lewagon {
  justify-content: space-between;
  background: #f6f5f0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 170px;
}

.navbar-light .navbar-toggler {
  border: none;
}
