.navbar-bottom {
  justify-content: space-between;
  background: white;
  position: sticky;
}

.navbar-bottom .navbar-collapse {
  flex-grow: 0;
}

.navbar-bottom .navbar-brand img {
  width: 40px;
}
