.navbar-bottom {
  justify-content: space-between;
  background: #f6f5f0;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 55px;
  border-top: 1px solid darkgrey;
  border-radius: 5%;

}

.dropup .dropdown-menu {
  bottom: 120%;
}

.dropdown-menu {
  border-radius: 10px;
  background-color: $container-beige;
  right: 0;
  left: initial;
 
}
.navbar i {
  color: $dark-gray
}

.dropup .dropdown-menu {
  bottom: 120%;
}

.dropdown-menu {
  border-radius: 10px;
  background-color: $container-beige;
  right: 0;
  left: initial;
}