.navbar-lewagon {
  justify-content: space-between;
  background: #f6f5f0;
  border-bottom: 1px solid darkgrey;
  border-radius: 5%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
