.message {
  text-align: center;
}

.badge {
  position: absolute;
  top: 58%;
  right: 39%;
  border-radius: 5%;
  color: darkgrey;
}

.heart-icon {
  margin: 0 8px;
}

.engagement {
  text-align: right;
  max-width: 100%;
}

.sensitive {
  background-color: #e5e4e2;
  text-align: center;
  border-radius: 5%;
}

.sensi-message {
  text-align: center;
}

.flagged {
  color: #343a40;
}

.flag-btn {
  background-color: inherit;
  border: none;
  color: #343a40;
}

.fav-posts {
  text-decoration: none;
  color: #343a40;
  padding-right: 1%;

}

.fav-posts:hover {
  text-decoration: none;
  color: #343a40;

}

.edit-btn {
  color: #343a40;
  padding-right: 1%;
}

.delete-btn {
  padding-right: 1%;
  padding-left: 1%;
  color: #343a40;

}

.fa-flag:before {
  color: #343a40;
}
