.post-title {
  position: relative;
}

.arrow-left {
  font-size: 1.2em;
  position: absolute;
  text-decoration: none;
  color: #242424;
  left: 7%;
  top: 15%;
}

.fa-arrow-left:before {
  text-decoration: none;
  color: #242424;
}

.user-name {
  padding-top: 1%;
}

.comment-top {
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
}

.flagged {
  color: #242424;
}

.flag-btn {
  background-color: inherit;
  border: none;
  color: #242424;
  padding-left: 1%;
}

.fav-posts {
  text-decoration: none;
  color: #242424;
  margin-left: 1%;
}

.fav-posts:hover {
  text-decoration: none;
  color: #242424;
}

.fav-posts:before {
  margin-left: 1%;
  text-decoration: none;
}

.fa-edit:before {
  color: #242424;
  padding-right: 1%;
}

.delete-btn {
  color: #242424;
}

.fa-flag:before {
  color: #242424;
  padding-left: 5%;
}

.fa-trash-alt:before {
  color: #242424;
  margin-right: 5%;
}

.reply-delete-btn {
  color: #242424;
}

.user-photo {
  width: 70px;
}
